@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;

  --main: #EADDE1;
  --secondary: #E5CEDC;
  --third: #c88fa3;
  --fourth: #dc7ea1;
  --dark: #545053;
  --light: #F3EAF4;
  
  --bright: #c90f50;
  --highlight-1: #fee440;
  --highlight-2: #9b5de5;
  --highlight-3: #f15bb5;
}

.dark {
  --main: #351C2C;
  --secondary: #26171C;
  --third: #5F454E;
  --fourth: #785762;
  --dark: #bfb4c1;
  --light: #190E1B;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  background-color: var(--main);
  color: var(--dark);

  transition: color 0.4s ease,
              background-color 0.4s ease;
}

a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 700;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: var(--bright);
}