.footer {
  background-color: var(--secondary);
  padding: 10px;
  z-index: 100;  
  box-shadow: 0px -2px 10px var(--secondary);

  transition: color 0.4s ease,
              background-color 0.4s ease,
              box-shadow 0.4s ease;
}