.magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    90deg,
    #fee440,
    #f15bb5,
    #9b5de5,
    #fee440
  );
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

// .magic-text-background {
//   animation: slide-up 0.3s linear infinite 90deg;
//   background: linear-gradient(
//     90deg,
//     var(--dark) 0%,
//     var(--dark) 100%,
//     var(--third) 100%,
//     var(--third) 200%
//   );
//   padding: 10px;
// }

.magic-text-background {
  background: linear-gradient(
    180deg,
    var(--dark) 0%,
    var(--dark) 50%,
    var(--third) 50%,
    var(--third) 100%
  );
  background-size: 100% 200%;
  padding: 10px;

  transition: all .25s ease;
}

.magic-text-background:hover {
  background-position: 0% 100%;
}

@keyframes background-pan {
  from {
    background-position: 0%;
  }
  to {
    background-position: 200%;
  }
}
