.swipe-up-on-hover {
  position: relative;
  overflow: hidden;
}

.swipe-up-on-hover > .swipe-up-background {
  background: linear-gradient(
    90deg,
    transparent 0%,
    transparent 50%,
    var(--bright) 55%,
    var(--fourth) 85%,
    var(--fourth) 90%,
    transparent 100%
  );
  background-size: 200% 200%;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

.swipe-up-on-hover:hover > .swipe-up-background {
  transition: background-position .3s ease-in;
  background-position: 175% 0%;
}